{% extends "::base.html.twig" %}
{% block body %}
    {% block header %}
        <nav>
            <ul>
                <li>Jeux</li>
                <li>Contact</li>
            </ul>
        </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
{% endblock %}