{% extends "SRFmainBundle::index.html.twig" %}
{% block content %}
    {% block game %}
        <h1>{{ game }}</h1>
        <img>
        <p id="description">Enjoy Youss ;-)</p>
    {% endblock %}
{% endblock %}